@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-dm-sans), sans-serif;
  --font-display: var(--font-syne), sans-serif;
}

:root {
  --color-bg-primary: #0D1117;
  --color-bg-secondary: #0D1117;
  --color-bg-navbar: #080C14;
  --color-bg-card: #111318;
  --color-border: #1C1F2E;
}

html.light {
  --color-bg-primary: #1a1f2e;
  --color-bg-secondary: #1a1f2e;
  --color-bg-navbar: #141824;
  --color-bg-card: #1e2436;
  --color-border: #2a3044;
}